Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pfx
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/MiniTwitter/PreBuild.xml
/MiniTwitter/PostBuild.xml
/Setup MiniTwitter Mod/MiniTwitter Mod x64.7z
/Setup MiniTwitter Mod/MiniTwitter Mod x64.rar
/SetupMiniTwitterMod/MiniTwitter Mod x86.7z
/SetupMiniTwitterMod/MiniTwitter Mod x86.rar
/MiniTwitter/postBuild.cmd
/MiniTwitter/preBuild.cmd
/MiniTwitter/App.Private.cs
/.revert/
/.backup/
*.ignore/
/MiniTwitter.opensdf
/MiniTwitter.sdf
/MiniTwitter/MiniTwitterNativeIcon.dll
/ipch/minitwittericons-b4193605/minitwitternativeicon-5523a796.ipch