
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/MiniTwitter/PreBuild.xml
/MiniTwitter/PostBuild.xml
/Setup MiniTwitter Mod/MiniTwitter Mod x64.7z
/Setup MiniTwitter Mod/MiniTwitter Mod x64.rar
/SetupMiniTwitterMod/MiniTwitter Mod x86.7z
/SetupMiniTwitterMod/MiniTwitter Mod x86.rar